<div class="booking-form" >
<h1>create your booking</h1>
<h3><%= @item.description %> </h3>
        <%= simple_form_for [@item, @booking] do |f| %>
          <%= f.input :start_date %>
          <%= f.input :end_date %>
          <%= f.submit class: "btn btn-flat" %>
        <% end %>
</div>
