
<div class="booking-form">
  <h1>Create Your Booking</h1>
  <h3><%= @item.description %></h3>
  <%= simple_form_for [@item, @booking], html: { class: 'custom-form' } do |f| %>
    <%= f.input :start_date, input_html: { class: 'form-control' } %>
    <%= f.input :end_date, input_html: { class: 'form-control' } %>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  <% end %>
</div>
<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
