    <div class="navbar">
        <%= link_to "Home", root_path %>

    </div>
<div class="row justify-content-center">
  <div class="col-sm-8 my-3">
    <%= form_with url: items_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "ðŸ” Search by brands, categories "
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

    <h1>Browse new in </h1>

    <div class="grid-container">
        <% @items.each do |item| %>
            <div class="card">
                <div class="card-image">
                    <!-- You can add the image here -->
                    <!-- <img src="item_image.jpg" alt="Item Image"> -->
                    <%= image_tag item.image_url if item.image_url %>
                </div>
                <div class="card-content">
                    <%= link_to item.description, item_path(item) %>
                </div>
            </div>
        <% end %>
    </div>
