   <div class="container">
        <h1><%= @item.description %></h1>
        <p class="price-tag">Retail Price: $<%= @item.retail_price %></p>
        <p>Category: <%= @item.category %></p>
        <p>Description: <%= @item.description %></p>
        <p class="price-tag">Rental Price: $<%= @item.rental_price %></p>
    </div>
    <%= link_to 'Back', items_path %>
